@import 'reset';

@mixin clear-fix() {
  *zoom: 1;

  &:before,
  &:after
  {
	content: ' ';
	display: table;
  }

  &:after
  {
	clear: both;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin gradient-background($start, $stop) {
  background: $start;
  background: -moz-linear-gradient(left, $start 0%, $stop 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, $start), color-stop(100%, $stop));
  background: -webkit-linear-gradient(left, $start 0%, $stop 100%);
  background: -o-linear-gradient(left, $start 0%, $stop 100%);
  background: -ms-linear-gradient(left, $start 0%, $stop 100%);
  background: linear-gradient(to right, $start 0%, $stop 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop', GradientType=1);
}

$link-colour: #4ba38f;
$project-name-width: 300px;
$project-image-size: 100px;
$project-image-margin: 35px;
$stack-width: $project-name-width;
$page-width-min: $project-name-width + $stack-width + $project-image-size + 2 * $project-image-margin + 30;

html
{
  min-height: 100%;

  background: #f2f2f2 url("/images/background-light.png");

  font-size: 0.75em;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
}

body
{
  text-align: center;
}

a
{
  color: $link-colour;
  text-decoration: none;

  &:hover
  {
	text-decoration: underline;
  }
}

.title
{
  margin: 0;
  padding: 0.9em 0 1.1em;

  border-bottom: 1px solid #fff;
  background: #202020 url('/images/background-dark.png');

  color: #666;
  font-size: 250%;
  font-weight: 300;
  text-shadow: 1px 1px 0 #000;
}

.projects
{
  //  max-width: 70em;
  margin: 0 auto;
  padding: 0 0 2em;

  list-style: none;

  .project
  {
	margin: 3em 0 1em;
	padding: 0;

	list-style: none;

	text-align: center;

	.project-link
	{
	  display: inline-block;

	  &:hover
	  {
		text-decoration: none;

		.project-name
		{
		  color: $link-colour;
		  text-decoration: none;
		}

		.project-image
		{
		  box-shadow: 0 0 0 5px #fff, 0em 0.25em 1em $link-colour;
		}
	  }
	}

	.project-name
	{
	  width: $project-name-width;

	  color: #666;
	  font-size: 175%;
	  text-align: right;
	  text-shadow: 0 1px 0 #fff;
	  line-height: $project-image-size;

	  display: inline-block;
	  vertical-align: middle;
	}

	.project-image
	{
	  width: $project-image-size;
	  height: $project-image-size;
	  margin: 0 $project-image-margin;

	  box-shadow: 0 0 0 5px #fff, 0em 0.25em 0.5em #ddd;

	  display: inline-block;
	  vertical-align: middle;

	  @include border-radius($project-image-size);
	}
  }
}

.stack
{
  width: $stack-width;
  padding: 5px 0;

  color: #666;
  font-size: 110%;
  text-align: left;

  display: inline-block;
  vertical-align: middle;

  &.is-alternate
  {
	text-align: right;

	left: auto;
	right: 100%;

	.stack-client,
	.stack-server,
	.stack-database
	{
	  background-position: right center;
	}

	.progress
	{
	  margin-left: 0.75em;
	  margin-right: 2.25em;

	  float: right;
	}
  }

  .stack-client,
  .stack-server,
  .stack-database
  {
	margin: 0 0 22px;
	padding: 0 2em;

	background: left center no-repeat;

	white-space: nowrap;

	display: block;
  }

  .stack-client
  {
	background-image: url("/images/icon-client.png");
  }

  .stack-server
  {
	background-image: url("/images/icon-server.png");
  }

  .stack-database
  {
	margin-bottom: 0;

	background-image: url("/images/icon-database.png");
  }
}

.progress
{
  width: 10px;
  height: 100px;
  margin: 0 1em 0 2.25em;

  background: #ddd;

  overflow: hidden;

  position: relative;

  float: left;

  @include border-radius(10px);

  .progress-complete
  {
	width: 100%;
	height: 0;

	background: #addd6d;

	position: absolute;
	bottom: 0;

	@include border-radius(10px);

	&.progress-complete-half
	{
	  height: 55%;
	}

	&.progress-complete-full
	{
	  height: 100%;
	}
  }
}

@media all and (max-width: $page-width-min) {

  .projects
  {
	.project
	{
	  .project-link
	  {
		display: block;
	  }

	  .project-name
	  {
		width: auto;

		text-align: center;
		line-height: 1;

		display: block;
	  }

	  .project-image
	  {
		margin: 15px auto;

		display: block;
	  }
	}
  }

  .stack
  {
	width: 150px;
  }
}