@import 'reset';

$project-image-width: 200px;
$project-image-height: 200px;
$project-image-padding: 20px;

@mixin transition($transitions...) {
  -webkit-transition: $transitions;
  -moz-transition: $transitions;
  -o-transition: $transitions;
  transition: $transitions;
}

body
{
  background: #000;

  font-size: 12pt;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  text-align: center;
}

.title
{
  padding: 1em;

  color: #fff;
  font-size: 200%;
  font-weight: 300;
  text-shadow: 0 1px 0 #333;

  z-index: 2;

  position: relative;
}

.backgrounds
{
  opacity: 0.5;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.projects
{
//  width: (3 * $project-image-width);
  margin: 0 auto;

  z-index: 2;

  position: relative;

  .project
  {
	display: inline-block;

	.project-name
	{
	  display: block;
	}

	.project-image
	{
	  width: $project-image-width;
	  height: $project-image-height;
	  padding: $project-image-padding;

	  display: block;
	}
  }
}